body {
  background-image: url('/image/login-page-background.jpg');
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: #f0f0f0;
  /* Change to your desired background color */
}

/* Add custom CSS for the card */
.card {
  margin-top: 10vh;
  border: 2px solid #3498db;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
}

.card-body {
  background-color: #fff;
}

/* Add custom CSS for the show password button */
#showPasswordBtn {
  border-radius: 0 15px 15px 0;
}